body{
    font-family: Arial;
    background: linear-gradient(to right,#2563eb,#7c3aed);
    color:white;
    text-align:center;
    padding-top:50px;
}

button{
    padding:12px 20px;
    border:none;
    border-radius:5px;
    background:white;
    color:#111;
    font-weight:bold;
    cursor:pointer;
}
